.app-wrapper {
  grid-template-areas:
    "h h"
    "s c";
  display: grid;
  width: 1600px;
  margin: 0 auto;
  grid-template-rows: 60px 1fr 2fr;
  grid-template-columns: 2fr 10fr;
  /*  grid-gap: 10px;*/
}
.app-wrapper-content {
  background-color: rgb(116, 107, 243);
  grid-area: c;
}
